expecttest
peft==0.17.1
xlsxwriter
termcolor
tabulate
tiktoken
matplotlib
einops
pybind11
tensorboardX
pyarrow
transformers==4.51.3
deepspeed
accelerate>=1.1.1
timm
flask
flask_restful
decord
natsort
setuptools
pyworld==v0.3.4
evaluate
hyperpyyaml
diffusers==0.32.2
torchcodec
conformer
hydra-core
lightning
gdown
wget
funasr
zhconv
jiwer
jaxtyping
zhon
WeTextProcessing
inflect
openai-whisper
onnxruntime
modelscope
word2number
snac
filetype
fire
einx
loguru
cython
wheel
